* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forExtend a, .footer_contact a, .footer_two a, .footer a {
  padding: 0.4rem;
  transition: all 0.6s;
}
.forExtend a:hover, .footer_contact a:hover, .footer_two a:hover, .footer a:hover {
  color: #ff652f;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
}

.footer_two {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
}
.footer_two .icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  left: 1.5rem;
}
.footer_two .copyright {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  writing-mode: vertical-rl;
}

.footer_contact {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0.5rem;
}

.nav {
  padding: 1rem;
  height: 10vh;
}
.nav_ul {
  text-align: right;
}
.nav_li {
  display: inline;
  padding: 1rem;
}
.nav_a {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.7s;
}
.nav_a:hover {
  color: rgba(255, 71, 105, 0.9);
}
.nav_a_active {
  color: #ff652f;
}

@media screen and (min-width: 0px) {
  body {
    font-size: 0.5rem;
    line-height: 0.5;
  }
  .nav {
    padding: 0.5rem;
  }
  .nav_ul {
    text-align: center;
  }
  .nav_li {
    padding-right: 0.7rem;
  }
  .nav .nav_a {
    font-size: 0.9rem;
  }
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .contact_ul {
    gap: 2rem 1.2rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 576px) {
  body {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .nav {
    padding: 0.7rem;
  }
  .nav_ul {
    text-align: right;
  }
  .nav_li {
    padding-right: 1rem;
  }
  .nav .nav_a {
    font-size: 1rem;
  }
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .contact_list {
    gap: 2.5rem 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav_li {
    padding-right: 1.3rem;
  }
  .nav .nav_a {
    font-size: 1.3rem;
  }
  .projects_item {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .nav_li {
    padding-right: 1.5rem;
  }
  .nav .nav_a {
    font-size: 1.5rem;
  }
  .projects_item {
    width: 50%;
  }
  .contact_list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1600px) {
  .projects_item {
    width: 33%;
  }
}
.about_bio {
  height: 50vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_bio .bio_text {
  text-align: center;
  padding: 1rem;
}
.about_bio .bio_text h2 {
  font-size: 3rem;
  color: #ff652f;
}
.about_bio .bio_text p {
  font-size: 1.2rem;
}

.main_container {
  width: 70vw;
  margin: 2rem auto;
}
.main_job {
  margin: 1rem;
  background-color: #414141;
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 5px solid #ff652f;
}

.contact_container {
  height: 100vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact_container nav {
  height: 20vh;
}
.contact_container .contact {
  height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.contact_container .contact_item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.contact_container .contact_item .info {
  color: #ff652f;
}

.container {
  height: 100vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container .home_name {
  font-size: 4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.container .home_last {
  color: red;
  font-weight: 700;
}
.container .home_job {
  color: red;
  font-weight: 600;
}

.project_container {
  height: 40vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_container .title {
  text-align: center;
  padding-bottom: 1rem;
}

.projects_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 1rem 0;
}
.projects_item {
  width: 40%;
  cursor: pointer;
  border-bottom: 5px solid #ff652f;
  position: relative;
  margin: 0.5rem;
}
.projects_item img {
  width: 100%;
}
.projects_item::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ff652f;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
}
.projects_item:hover::after {
  opacity: 0.7;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: orange;
  background-color: #272727;
  height: 100vh;
}

a {
  text-decoration: none;
  color: orange;
}

h1,
h2,
h3 {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
