* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forExtend a, .footer_two a, .footer a {
  padding: 0.4rem;
  transition: all 0.6s;
}
.forExtend a:hover, .footer_two a:hover, .footer a:hover {
  color: #ff652f;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
}

.footer_two {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
}
.footer_two .icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  left: 1.5rem;
}
.footer_two .copyright {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  writing-mode: vertical-rl;
}

.nav {
  padding: 1rem;
  height: 10vh;
}
.nav_ul {
  text-align: right;
}
.nav_li {
  display: inline;
  padding: 1rem;
}
.nav_a {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.7s;
}
.nav_a:hover {
  color: rgba(255, 71, 105, 0.9);
}
.nav_a_active {
  color: #ff652f;
}

.about_bio {
  height: 50vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about_bio .bio_text {
  text-align: center;
  padding: 1rem;
}
.about_bio .bio_text h2 {
  font-size: 3rem;
  color: #ff652f;
}
.about_bio .bio_text p {
  font-size: 1.2rem;
}

.main_container {
  width: 70vw;
  margin: 2rem auto;
}
.main_job {
  margin: 1rem;
  background-color: #414141;
  padding: 1rem;
  border-radius: 5px;
  border-bottom: 5px solid #ff652f;
}

.container {
  height: 100vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container .home_name {
  font-size: 4rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.container .home_last {
  color: red;
  font-weight: 700;
}
.container .home_job {
  color: red;
  font-weight: 600;
}

.project_container {
  height: 40vh;
  background-image: url("../../img/developer.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_container .title {
  text-align: center;
  padding-bottom: 1rem;
}

.projects_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 1rem 0;
}
.projects_item {
  width: 100%;
  cursor: pointer;
  border-bottom: 5px solid #ff652f;
  position: relative;
}
.projects_item img {
  width: 100%;
}
.projects_item::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ff652f;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
}
.projects_item:hover::after {
  opacity: 0.7;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #eee;
  background-color: #272727;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #eee;
}

h1,
h2,
h3 {
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
