@mixin transition($sec) {
  transition: all $sec;
}

@mixin bgImage($height, $url) {
  height: $height;
  background-image: url($url);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
